<section id="contact">
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__logo">
                    {{ titles.title("En savoir plus", "footer", "l", "", "h3", 'split') }}
                    {{ titles.title("Pour toute demande de renseignements et de visites, contactez-nous :", "footer-sub", "s", "", "h4") }}
                </div>
                <div class="footer__contacts-all">
                    <a href="#"><img src="./img/hw-capital.png"></a>
                    <div class="footer__contacts">
                        <div class="footer__contact-item">
                            {{ titles.title("Mélanie Achard", "footer-cont", "xs", "", "h5") }}
                            <p>T. <a href="tel:+33 6 23 17 90 36">+33 6 23 17 90 36</a></p>
                            <p>M. <a href="mailto:achard@hwcapital.fr">achard@hwcapital.fr</a></p>
                        </div>
                        <div class="footer__contact-item">
                            {{ titles.title("Cyrille Phan", "footer-cont", "xs", "", "h5") }}
                            <p>T. <a href="tel:+33 6 23 17 90 36">+33 6 31 66 77 43</a></p>
                            <p>M. <a href="mailto:achard@hwcapital.fr">c.phan@hwcapital.fr</a></p>
                        </div>
                    </div>
                    <div class="footer__logo-next">
                        {{ titles.title("Une propriété:", "footer-logo-next", "xs", "", "h5") }}
                        <a><img src="./img/marathon.png"></a>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p class="copyright"><span id="year"></span> ©Equinox</p>
                <p><a href="privacy-police.html">Politique de confidentialité</a></p>
                <p><a target="_blank" href="https://saentys.com/">Design by Saentys</a></p>
            </div>
        </div>
    </footer>
</section>